@use "../mixins" as m;

.footer {
  color: var(--white);
  background-color: var(--dark);
  padding: 3.5rem 0;

  @include m.respond(tab-port) {
    padding: 2.725rem 0;
  }

  &__content {
    @include m.main-content;
    @include m.flex-center(3rem, column);

    @include m.respond(tab-port) {
      flex-direction: row;
      justify-content: space-between;
    }

    &-1 {
      @include m.flex-center(2rem, column);

      @include m.respond(tab-port) {
        align-items: flex-start;
        gap: 1.5rem;
      }

      &__logo {
        height: 1.5rem;
      }

      &__links {
        @include m.flex-center(1rem, column);

        @include m.respond(tab-port) {
          flex-direction: row;
          gap: 2rem;
        }
      }
    }

    &-2 {
      @include m.flex-center(1rem, column);

      @include m.respond(tab-port) {
        align-items: flex-end;
        gap: 1.5rem;
      }

      &__socials {
        @include m.flex-center(1rem, row);
        font-size: 1.5rem;

        li {
          line-height: 1;

          a {
            @media (hover: hover) {
              &:hover i {
                transform: translateY(-1.5px);
                opacity: 0.5;
              }
            }
          }
        }
      }

      p {
        opacity: 0.5;
      }
    }
  }
}
